#userInf {
    position: relative;
    padding-left: 4.5rem;
    margin-left: -4.5rem;
}
#userPfp {
  height: 2.5rem;
  width: 2.5rem;
  position: absolute;
  left: 0px;
  top: 0.125rem;
  margin: 0px 1rem;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
#userName {
  display: inline;
  vertical-align: baseline;
  margin: 0px 0.3rem 0px 0px;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.375rem;
  overflow-wrap: break-word;
  cursor: pointer;
}
#botBadge {
    position: relative;
    top: -0.1rem;
    min-height: 1.275em;
    max-height: 1.275em;
    margin: 0.075em 0.25rem 0px 0px;
    padding: 0.071875rem 0.275rem;
    border-radius: 3px;
    background: rgb(88, 101, 242);
    color: rgb(255, 255, 255);
    font-size: 0.625em;
    font-weight: 500;
    line-height: 1.3;
    vertical-align: baseline;
    text-transform: uppercase;
}
#userTime {
    display: inline-block;
    height: 1.25rem;
    cursor: default;
    color: rgb(148, 155, 164);
    margin-left: 0.25rem;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.375rem;
    vertical-align: baseline;
}

a {
    color: rgb(0, 168, 252);
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    text-decoration: underline;
}

#messageContent {
  white-space: pre-wrap;
  overflow-wrap: break-word;
  line-height: 1.375;
}
.msgFile {
  max-width: 80%;
  border-radius: 10px;
}
div.msgFile {
  display: flex;
  flex-direction: row;
  background-color: rgb(43, 45, 49);
  width: 80%;
  height: 50px;
  align-items: center;
  padding: 10px;
  text-align: left;
  text-decoration: none;
  cursor: pointer;
}

.rendered-emoji {
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  height: 1em;
  -webkit-user-drag: none;
}
.rendered-mention {
  cursor: pointer;
  color: rgb(222, 224, 252);
  font-weight: 500;
  border-radius: 3px;
  padding: 0px 2px;
  background: rgba(88, 101, 242, 0.3);
  transition: background-color 50ms ease-out, color;
}